@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

@keyframes slide-in{

    0%{
        transform: translateY(-800px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

:root{
    --theme1-main-bg: hsl(222, 26%, 31%);
    --theme1-keypad-bg: hsl(223, 31%, 20%);
    --theme1-screen-bg: hsl(224, 36%, 15%);
    --theme1-blue: hsl(225, 21%, 49%);
    --theme1-blue-shadow: hsl(224, 28%, 35%);
    --theme1-red: hsl(6, 63%, 50%);
    --theme1-red-shadow: hsl(6, 70%, 34%);
    --theme1-orange: hsl(30, 25%, 89%);
    --theme1-orange-shadow: hsl(28, 16%, 65%);
    --theme2-main-bg: hsl(0, 0%, 90%);
    --theme2-keypad-bg: hsl(0, 5%, 81%);
    --theme2-screen-bg: hsl(0, 0%, 93%);
    --theme2-key-bg: hsl(185, 42%, 37%);
    --theme2-key-shadow: hsl(185, 58%, 25%);
    --theme2-key-bg-toggle: hsl(25, 98%, 40%);
    --theme2-key-shadow-orange: hsl(25, 99%, 27%);
    --theme2-key-bg-yellow: hsl(45, 7%, 89%);
    --theme2-key-shadow-orange: hsl(35, 11%, 61%);
    --theme3-main-bg: hsl(268, 75%, 9%);
    --theme3-keypad-bg: hsl(0, 5%, 81%);
    --theme3-screen-bg: hsl(268, 71%, 12%);
    --theme3-key-bg: hsl(281, 89%, 26%);
    --theme3-key-shadow: hsl(285, 91%, 52%);
    --theme3-key-bg-toggle: hsl(176, 100%, 44%);
    --theme3-key-shadow-orange: hsl(177, 92%, 70%);
    --theme3-key-bg-yellow: hsl(268, 47%, 21%);
    --theme3-key-shadow-orange: hsl(290, 70%, 36%);
}


body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    display: flex;
    flex-direction: column;
}

.theme-1-main-bg{
    background-color: var(--theme1-main-bg);
    transition: 0.5s ease;
}

.theme-1-main-bg-keypad{
    background-color: var(--theme1-keypad-bg);
    border-radius: 1em;
    opacity: 0.9;
    transition: 0.5s ease;
}

.theme-1-screen-bg{
    background-color: var(--theme1-screen-bg);
    transition: 0.5s ease;
}

.theme-2-main-bg{
    background-color: var(--theme2-main-bg);
    transition: 0.5s ease;
}

.theme-2-main-bg-keypad{
    background-color: var(--theme2-keypad-bg);
    border-radius: 1em;
    opacity: 0.9;
    transition: 0.5s ease;
}

.theme-2-screen-bg{
    background-color: var(--theme2-screen-bg);
    transition: 0.5s ease;
}

.theme-3-main-bg{
    background-color: var(--theme3-main-bg);
    transition: 0.5s ease;
}

.theme-3-main-bg-keypad{
    background-color: var(--theme3-main-bg);
    border-radius: 1em;
    opacity: 0.9;
    transition: 0.5s ease;
}

.theme-3-screen-bg{
    background-color: var(--theme3-screen-bg);
    transition: 0.5s ease;
}

.theme-3-numbers{
    color: hsl(52, 100%, 62%);
    background-color: hsl(290, 70%, 36%);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}

.numbers-container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em 1.5em;
    margin: 0.5em;
    text-transform: uppercase;
    background-color: var(--theme1-orange);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 0.9em;
    text-shadow: 1px 1px 0px rgba(180, 169, 151, 1);
    transition: 0.2s ease;
}

.number:focus{
    transform: scale(1.1);
}

.number:hover{
    background-color: hsl(29, 27%, 82%);
}

.reset:hover, .del:hover{
    background-color: hsl(225, 31%, 64%);
}

.left{
    grid-column: 1/3;
}

.right{
    grid-column: 3/5;
}

.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    border: 5px solid var(--theme1-screen-bg);
    border-radius: 1em;
    padding: 1em;
    box-shadow: 4px 3px 24px 0px rgba(255, 255, 255, 1);
    animation: slide-in 0.8s ease;
}

.result{
    width: auto;
    padding: 0.5em;
    color: white;
    width: 90%;
    border-radius: 0.5em;
    height: 2em;
    text-align: right;
    font-size: 1.2em;
}

.del, .reset{
    background-color: var(--theme1-blue);
    color: white;
}

.theme-switcher{
    display: flex;
    align-self: end;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
    animation: slide-in 0.8s ease;
    color: white;
    text-transform: uppercase;
}

label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
}

.black{
    color: black;
}

.box-shadow-theme-2{
    box-shadow: 3px 5px 24px 0px rgba(66, 68, 90, 1);
}

@media (max-width: 320px) {
    .calculator-container{
        width: 246px;
    }
}